*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}

body, html {
    height: 100%;
}

body {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}

.row {
    padding: 20px;
    width: 100%;
}

.col:first-child {
    margin: 0px;
}

.col:last-child {
    margin-right: 0px;
}

.col-1 {
    width: 3.93%;
}

.col-2 {
    width: 12.66%;
}

.col-3 {
    width: 21.4%;
}

.col-4 {
    width: 30.13%;
}

.col-5 {
    width: 38.867%;
}

.col-6 {
    width: 47.6%;
}

.col-7 {
    width: 56.333%;
}

.col-8 {
    width: 65.07%;
}

.col-9 {
    width: 73.8%;
}
.col-10 {
    width: 82.533%;
}

.col-11 {
    width: 91.27%;
}

.col-12 {
    width: 100%;
} 

.upper-div nav {
    margin: 0.01% 0;
    float: right;
}

.upper-div nav a, .upper-div nav li{
    font-size: 8px;
}

.header-container {
    margin: auto;
    overflow: hidden;
}

header #branding{
    float: left;
    color: #fff;
}

header #branding h1{
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fff;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 50px 0 50px;
    float: left;
}

header .nav-lower {
    float: right;
    border-bottom: #fff 3px solid;
    padding-bottom: 40px;
}

.bg-image {
    background-image: url('../assets/cover-photo.jpg');
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.section-2, .car-collection {
    height: 140vh;
    width: 100%;
}

.make-type-section-title h1, .body-type-section-title h1 {
    text-align: center;    
    margin-top: 70px;
    font-size: 20px;
    color: black;
    margin-bottom: 0; 
}

.make-type-section-title h2, .body-type-section-title h2, .sign-up-form h1, .sell-section h1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
    color: black;
}

.body-type-section img{
    margin-top: 60px;
    width: 100%;
    width: 100%;
}

.body-type-section, .car-collection-group, .search-cols {
}

.body-type-set-1, .body-type-set-2, 
.body-type-set-3, .body-type-set-4 {
     float: left;
}

.body-type-set-1 {
    text-align: center;
}

.section-3 {
    height: 120vh;
    width: 100%;
}

.make-type-section {
    margin: 0 auto;
}

.make-type-section a{
    text-decoration: none;
    color: #000000;
}

.make-type-section img {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.make-type-set-1, .make-type-set-2, 
.make-type-set-3, .make-type-set-4, .make-type-set-5{
    margin-left: 6.33%;
    margin-right: 6.33%; 
    float: left;
}

.make-type-set-1 {
    margin-left: 15.66%;

}

.footer-form input {
    display: inline-block;
    height: 50px;
    /* margin-top:50px; */
    text-align: center;
}

.footer-form #name {
float: left;
}

.footer-form #number {
    float: right;
}

.footer-form input[type="text"] {
    width: 100%
}

.footer-form input[type="number"] {
    width: 100%
}

.footer-form textarea {
    text-align: center;
    margin-top: 50px;
    height: 200px;
}

.footer-form button {
    text-align: center;
    margin-top: 50px;
    height: 50px;
}

.bg-image-sign-in {
    background-image: url('../assets/cover-photo.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.bg-image-sign-up {
    background-image: url('../assets/cover-photo.jpg');
    background-size: cover;
    height: 140vh;
    width: 100%;
}

.bg-image-sell {
    background-image: url('../assets/cover-photo.jpg');
    background-size: cover;
    height: 150vh;
    width: 100%;
}

.sign-up-form h5, .sell-section h5 {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: black;
    margin-bottom: 0; 
}

.sign-up-form p {
    margin: 0; 
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

.sign-up-form .form-div {
    text-align: center;
}

.sign-up-form input {
    text-align: center;
    border-width: 1px;
    height: 45px;
    background: transparent;
    margin-bottom: 30px;
    font-weight: bold;
}

.sell-section div:first-child {
    text-align: center;    
}

.sign-up-form h5, .sell-section h5 {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: black;
    margin-bottom: 0; 
}

.form-div-sell {
    text-align: center;
}

.form-div-sell input[type="submit"] {
    height: 30px;
}

.car-data select, .car-data input {
    margin-bottom: 12px;
    width: 100%;
    height: 50px;
}

.car-data {
    display: inline-block;
    margin: auto;
    margin-left: 3%;
}

.car-data select, .car-data input {
    margin-bottom: 12px;
    width: 100%;
    height: 50px;
}

.photo-input {
    /* padding-top: 10px;  */
    display: block;
    width: 25%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;

}

.photo-input img {
    display: inline;
    padding: 0;
    margin: 0;
    width: 20%;
    height: 40px;
    float: left;
}

.photo-input input {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    height: 20%;
}

.photo-input textarea {
    display: block;
}

.photo-input label {
    display: block;
    padding-bottom: 10px;
}

.sell-button {
    text-align: center;
    border-width: 1px;
    height: 45px;
    background: transparent;
    margin-bottom: 30px;
    font-weight: bold;
}

.logout {
    display: hidden;
}

.bg-image-details {
    background-image: url('../assets/cover-photo.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}